<!DOCTYPE html>
<html>
<head>
<script>

function startTime() {
    var d = new Date();
    document.getElementById('txt').innerHTML = d
     var t = setTimeout(startTime, 500);
}

</script>
</head>

<body onload="startTime()">

<div id="txt"></div>d

<center><h1> Your have chosen the warrior path! <h1></center>
    <br>
<img class="irc_mi" src="https://lh3.googleusercontent.com/-GcgnsF3Dlh0/WY0da91pHhI/AAAAAAAACCA/Kjd9yqik6lgIKlBLB07BybuFUQdAUiRfgCJoC/w1080-h1920/blue%2Bfire%2Bskull%2BGIF.gif" style="float:right; width="100" height="300"">

<img class="irc_mi" src="https://lh3.googleusercontent.com/-GcgnsF3Dlh0/WY0da91pHhI/AAAAAAAACCA/Kjd9yqik6lgIKlBLB07BybuFUQdAUiRfgCJoC/w1080-h1920/blue%2Bfire%2Bskull%2BGIF.gif" style="float:left; width="100" height="300"">
<% winner_check = winner(a1, a2, a3, a4, a5, a6, a7, a8, a9) %>
  <% if winner_check == "X" %>
       You win this time, but we're watching you!
   <% elsif winner_check == "O" %>
       O Wins the Game!!YOUR SOUL IS OURS!!
       <center><img src="https://cdn.wallpapersafari.com/62/55/nBGoOq.jpg" id="img" style="width: 550px; height: 275px;"></center>
  <% else %>
      Make another play if you dare!
  <% end %>
<center><b><form method="post" action="/play_warrior">
<table>
    <tr>
         <td>
<input type="hidden" name="a1" value = "<%= a1 %>">
<% if a1 == "O" %>
    O
    <% elsif a1 == "X" %>
    X
<% else %>
    <input type="input" name="a1" size="3"> 
<% end %>
   </td>

    <td>
<input type="hidden" name="a2" value = "<%= a2 %>">
<% if a2 == "O" %>
    O
<% elsif a2 == "X" %>
    X
<% else %>
    <input type="input" name="a2" size="3"> 
<% end %> 
    </td>

    <td>
<input type="hidden" name="a3" value = "<%= a3 %>">
<% if a3 == "O" %>
    O
<% elsif a3 == "X" %>
    X
<% else %>
    <input type="input" name="a3" size="3"> 
<% end %> 
    </td>
    </tr>

    <tr>
        <td>
<input type="hidden" name="a4" value = "<%= a4 %>">
<% if a4 == "O" %>
    O
<% elsif a4 == "X" %>
    X
<% else %>
    <input type="input" name="a4" size="3"> 
<% end %>
    </td>
    
     <td>
<input type="hidden" name="a5" value = "<%= a5 %>">
<% if a5 == "O" %>
    O
 <% elsif a5 == "X" %>
    X  
<% else %>
    <input type="input" name="a5" size="3"> 
<% end %>
</td>

        <td>
<input type="hidden" name="a6" value = "<%= a6 %>">
<% if a6 == "O" %>
    O
<% elsif a6 == "X" %>
    X
<% else %>
    <input type="input" name="a6" size="3"> 
<% end %>
</td>

    </tr>

    <tr>
        <td>
<input type="hidden" name="a7" value = "<%= a7 %>">
<% if a7 == "O" %>
    O
<% elsif a7 == "X" %>
    X
<% else %>
    <input type="input" name="a7" size="3"> 
<% end %>
</td>
        <td>
<input type="hidden" name="a8" value = "<%= a8 %>">
<% if a8 == "O" %>
    O
<% elsif a8 == "X" %>
    X
<% else %>
    <input type="input" name="a8" size="3"> 
<% end %>
        </td>

        <td>
<input type="hidden" name="a9" value = "<%= a9 %>">
<% if a9 == "O" %>
    O
<% elsif a9 == "X" %>
    X
<% else %>
    <input type="input" name="a9" size="3"> 
<% end %>
        </td>

    </tr>
</table>
<input type="submit"><b>
</center>
<br>
<br>
<center><img class="irc_mi" src="https://www.picclickimg.com/d/l400/pict/152749250614_/3x5-PIRATE-FLAG-Dead-Men-Tell-No-Tales.jpg" alt="Image result for crossbones gifs" width="304" height="182"></center>
